<%- include("header"); %> 

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label><br>
        <input class="form-control" type="text" name="text_input" value="text_input" autocomplete="off"><br>
        <label>Post</label><br>
        <textarea class="form-control" rows = "5" cols = "30" name = "postBody"></textarea>
        <br>
        
    </div>
    <button type="submit" class="btn btn-primary" name="button1" value="">Publish</button>
</form>
<%- include("footer"); %> 